.portada {
    width: 100vw;
    height: 350px;
    border: none;
    border-radius: 0 !important;
    box-shadow: 0 8px 10px #0004;
    display: flex;
    align-items: start;
    align-content: center;
    justify-content: center;
    text-align: left;
    margin: 80px 0 0 0;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    text-align: center;
}

.title {
    position: relative;
    opacity: 1;
}

.title.active {
    position: fixed;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background: rgba(238, 237, 235, 0.8);
    padding: 10px;
    z-index: 998;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.title.hidden {
    opacity: 0;
    visibility: hidden;
}

.text .description {
    padding: 1rem 6rem;
    text-align: left;
    text-transform: none !important;
}

.collection-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.collection-container img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    padding: 2rem 0;
}

.btn-prev,
.btn-next {
    background-color: transparent;
    border: none;
    width: 50%;
    display: flex;
}

.btn-prev a {
    margin: 0 0 0 2rem;
}

.btn-next a {
    margin: 0 2rem 0 0;
}

.btn-prev a,
.btn-next a {
    font-size: 1.5em;
    font-weight: 600;
    color: #0009;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    transform: scaleY(1.2);
    -webkit-transition: ease-in-out 0.15s all;
}

.btn-next {
    display: flex;
    justify-content: end;
}

.btn-prev a:hover,
.btn-next a:hover {
    color: #000;
    translate: 0 -2px;
    -webkit-transition: ease-in-out 0.15s all;
}

/* Responsive */

@media (max-width: 768px) {
    div.logo {
        margin: 0;
    }
    
    .text {
        padding: 3rem 1rem;
        text-align: left;
    }
    
    .text .description {
        padding: 1rem 1rem;
    }

    .btn-prev a {
        margin: 0;
    }
    
    .btn-next a {
        margin: 0;
        padding: 0 2rem;
    }

    .btn-prev a,
    .btn-next a {
        font-size: 16px;
        text-align: center;
    }
}