.collection-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 83px 0 0 0;
}

.collection-container img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    width: 100%;
    position: relative;
}

.btn-prev, .btn-next {
    background-color: transparent;
    border: none;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 4px #000;
    margin: 2rem;
    cursor: pointer;
}

.btn-next {
    right: 0;
    position: absolute;
}