#collaborations_content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 80px 0 0 0;
    flex-direction: column;
}

.cards-grid {
    display: flex;
    width: 100%;
    flex-flow: wrap;
}

.cards-grid a {
    margin: 0 !important;
    width: 50%;
}

.card {
    position: relative;
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 0 !important;
    box-shadow: 0 8px 10px #0004;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.card:hover .div-img {
    opacity: 0.8;
    -webkit-transition: 0.25s ease-in-out all;
}

.card:hover h3 {
    opacity: 1 !important;
    -webkit-transition: 0.25s ease-in-out all;
}

.card .div-img {
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    overflow: hidden;
    -webkit-transition: 0.25s ease-in-out all;
}

.card .div-text {
    position: relative;
    width: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .div-text h3{
    opacity: 0;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 4px #000;
    font-size: 1.5em !important;
    -webkit-transition: 0.25s ease-in-out all;
}

/* Responsive */

@media (max-width: 768px) {
    .cards-grid {
        flex-direction: column;
    }

    .cards-grid a {
        width: 100%;
    }

    .card {
        height: 200px;
    }

    .card .div-img, .card:hover .div-img {
        opacity: 0.7;
        -webkit-transition: 0.25s ease-in-out all;
    }

    .card .div-text {
        height: 200px !important;
        display: flex !important;
        align-items: end !important;
    }

    .card h3 {
        padding: 0 10px !important;
        text-align: left !important;
        opacity: 1 !important;
        text-shadow: 0 1px 10px #000 !important;
        font-weight: 600 !important;
        -webkit-transition: 0.25s ease-in-out all;
    }
}