#contact_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 70vh;
    margin: 80px 0 0 0;
}

.text-content, .fields-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    width: 50%;
    height: 100%;
}

.fields-content {
    padding: 4rem 8rem 0 0;
}

.text-content {
    margin: 0;
    padding: 4rem 8rem;
}

.text-content h3 {
    margin: 0 !important;
    font-weight: 600;
    padding: 0 0 1rem 0;
    text-transform: none;
}

.text-content p {
    margin: 0 !important;
    font-size: 18px;
    text-transform: none;
    padding: 2rem 4rem;
    text-align: center;
}

.text-content .contact {
    height: 25%;
    border-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.text-content .contact {
    flex-wrap: wrap;
    gap: 0.5rem;
}

.text-content .contact a img:hover {
    transform: scale(1.25);
    -webkit-transition: 0.25s !important;
}

.text-content .contact img {
    width: 25px;
    -webkit-transition: 0.25s !important;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

.fields-content label {
    text-transform: none;
    font-size: 16px;
    margin: 0;
    align-items: center;
    align-content: center;
    display: flex;
    width: 100%;
    padding: 0 0 0 .2rem;
}

.fields-content span {
    font-size: 12px;
    color: #0008;
}

.fields-content input, .fields-content textarea {
    margin: 0 0 .5rem 0;
    height: 25px;
    min-height: 25px;
    border: 1px solid #0003;
    padding: .5rem;
    text-transform: uppercase;
}

.fields-content input::placeholder, .fields-content textarea::placeholder {
    text-transform: none;
}

.fields-content input:focus-visible, .fields-content textarea:focus-visible {
    outline: 1px solid #000;
}

.fields-content textarea {
    overflow-y: scroll;
    min-height: 35px;
    resize: none;
}

.fields-content .btn-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.fields-content .g-recaptcha {
    width: 75% !important;
}

.fields-content .btn {
    background-color: #000 !important;
    font-weight: 600;
    width: 25%;
    height: 76px;
    font-size: 24px;
    margin: 0 !important;
    -webkit-transition: 0.25s ease-in-out all;
}

.fields-content .btn:focus-visible {
    outline: none;
}

.fields-content .btn:hover {
    filter:invert(100);
    -webkit-transition: 0.25s ease-in-out all;
}

/* Responsive */

@media (max-width: 1100px) {
    #contact_content {
        flex-direction: column;
        height: 100%;
    }
    
    .text-content {
        width: 100%;
        padding: 2rem 3rem;
    }
    
    .text-content p {
        padding: 1.5rem 0;
    }
    
    .fields-content {
        width: 100%;
        padding: 2rem 3rem;
    }
}

@media (max-width: 768px) {
    .fields-content .btn-content {
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;
    }

    .fields-content .btn-content #captcha {
        width: fit-content !important;
        background-color: #f9f9f9;
    }

    .fields-content .btn-content .btn {
        width: 100%;
        height: fit-content;
    }
}