* {
    font-family: "New spirit condensed", serif;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    min-width: 355px !important;
    margin: 0;
    padding: 0;
    text-transform: uppercase !important;
    background-color: #eeedeb;
}

.container {
    display: flex !important;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw !important;
    max-width: 100% !important;
}

#header .links a {
    border-bottom: 2px solid transparent;
}

#header .links a.active {
    border-bottom: 2px solid #000; /* Color del borde cuando está activo */
}