* {
    font-family: "New spirit condensed", serif;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-transform: uppercase !important;
    background-color: #eeedeb;
}

.container {
    display: flex;
    width: 100vw !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}